@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Destination2VietNam</h1>
</div>

<form>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Departure</span>
        </div>
        <input type="text" class="form-control" id="departure" placeholder="Departure">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Destination</span>
        </div>
        <input type="text" class="form-control" id="destination" placeholder="Destination">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Departure Date</span>
        </div>
        <input type="text" class="form-control" id="departureDate" placeholder="MM/DD/YYYY">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Returning Date</span>
        </div>
        <input type="text" class="form-control" id="returningDate" placeholder="MM/DD/YYYY">
    </div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Flight</button>
</form>


